
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#")= title
      .nav-collapse
        ul.nav
          li.active
            a(href="#") Home
          li
            a(href="#about") About
          li
            a(href="#contact") Contact
.container
  .row
    .span8.grey
      h1 Facebook page add app
      p This utility lets you add an app to a Facebook page
      p
        a.btn.btn-primary.btn(href="#") Lean more >>
    .span4
      .fb-login-button(data-show-faces="false", data-width="200", data-max-rows="1") Connect to Facebook