
@import "bootstrap.less";
// Padding for fixed-navbar
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
@import "responsive.less";
@iconSpritePath: "/images/bootstrap/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/images/bootstrap/glyphicons-halflings-white.png";

.fb-login-button { display: none; }

ol.steps {
  font-size: 18px;
  margin: 0;
}
ol.steps li {
  list-style: none;
  margin-bottom: 15px;
}
ol.steps li .well {
  margin: 5px 25px;
  display: none;
}
img.photo {
  max-width: 25px;
  margin-right: 10px;
}
input {
  width: 90%;
}
ul.apps {
  margin: 5px;
  font-size: 16px;
  max-height: 200px;
  overflow-y: scroll;

  li {
    width: 92%;
    height: 25px;
    .border-radius(3px);
    padding: 3px;
    cursor: pointer;

    &.selected {
      background-color: rgba(149, 185, 150, 0.3)
    }
  }
}
#selection-win {
  display: none;
}